---
BasedOnStyle: Microsoft
AlignConsecutiveAssignments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
Language: Cpp
NamespaceIndentation: Inner
FixNamespaceComments: true

...
